@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

body {
    background-color: theme('colors.background');
    color: theme('colors.text');
    font-family: 'Inter', sans-serif;
    margin: 0;
    min-height: 100vh;
}

@layer utilities {
    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-purple-500;
    }
}